[Desktop Entry]
Version= 0.1
Name=Alterações - App EB
Icon=~/Documentos/aplicativo/static/militar.png
Exec=python3 ~/Documentos/aplicativo/documentos_assentamentos.py
Terminal=false
Type=Application
